In [1]:
from faker import Faker
import random
import pandas as pd

fake = Faker('ko-KR')

In [2]:
name = [fake.name() for i in range(1)]
age = [fake.pyint(min_value=8, max_value=19) for i in range(1)]

In [3]:
k = 1
hobby = ['스포츠', '영화관람', '뷰티', '쇼핑', '도서', '게임', '여행', '카페', '패션']
random_hobbies= random.choices(hobby, k=k)

gender = ['남', '여']
random_gender= random.choices(gender, k=k)

benefit = ['대중교통', '야구', '도서', '뷰티', '배달', '카페', '쇼핑', '영화관람', '놀이동산', '넷플릭스', '편의점', '통신비']
random_benefit= random.choices(benefit, k=k)

In [4]:
id_list = []
for i in range(10001, 10002):
    id_number = f'a{i:05}'
    id_list.append(id_number)

In [5]:
transport = []
transport_num = []

con = []
con_num = []

delivery  = []
delivery_num = []

cafe = []
cafe_num = []

ott = []
ott_num = []

movie = []
movie_num = []

shopping = []
shopping_num = []

book = []
book_num = []

cosmetics = []
cosmetics_num = []

baseball = []
baseball_num = []

park = []
park_num = []

phone = []
phone_num = []

for _ in range(1, k+1):
    random_transport = random.randint(300, 720) // 100 * 100 # 한 번 탑승시 요금
    transport.append(random_transport)
    transport_cnt = random.randint(5, 70)
    transport_num.append(transport_cnt)
    
    random_con = random.randint(2000, 50000) // 100 * 100
    con.append(random_con)
    con_cnt = random.randint(2, 30)
    con_num.append(con_cnt)
    
    random_delivery = random.randint(10000, 30000) // 100 * 100
    delivery.append(random_delivery)
    delivery_cnt = random.randint(2, 10)
    delivery_num.append(delivery_cnt)
    
    random_cafe = random.randint(4500, 20000) // 100 * 100
    cafe.append(random_cafe)
    cafe_cnt = random.randint(2, 20)
    cafe_num.append(cafe_cnt)
    
    random_ott = random.randint(2500, 5000) // 100 * 100
    ott.append(random_ott)
    ott_cnt = random.randint(0, 6)
    ott_num.append(ott_cnt)
    
    random_movie = random.randint(13000, 25000) // 100 * 100
    movie.append(random_movie)
    movie_cnt = random.randint(0, 3)
    movie_num.append(movie_cnt)
    
    random_shopping = random.randint(10000, 50000) // 100 * 100
    shopping.append(random_shopping)
    shopping_cnt = random.randint(0, 5)
    shopping_num.append(shopping_cnt)
    
    random_book = random.randint(18000, 30000) // 100 * 100
    book.append(random_book)
    book_cnt = random.randint(0, 5)
    book_num.append(book_cnt)
    
    random_cosmetics = random.randint(10000, 50000) // 100 * 100
    cosmetics.append(random_cosmetics)
    cosmetics_cnt = random.randint(0, 5)
    cosmetics_num.append(cosmetics_cnt)
    
    random_baseball = random.randint(8000, 25000) // 100 * 100
    baseball.append(random_baseball)
    baseball_cnt = random.randint(0, 2)
    baseball_num.append(baseball_cnt)
    
    random_park = random.randint(20000, 50000) // 100 * 100
    park.append(random_park)
    park_cnt = random.randint(0, 2)
    park_num.append(park_cnt)
    
    random_phone = random.randint(10000, 75000) // 100 * 100
    phone.append(random_phone)
    phone_cnt = 1
    phone_num.append(phone_cnt)

In [6]:
df = pd.DataFrame()
df['이름'] = name
df['고유번호'] = id_list
df['관심사'] = random_hobbies
df['나이'] = age
df['성별'] = random_gender
df['혜택'] = random_benefit

kor = ['교통', '편의점', '배달', '카페', 'ott', '영화', '쇼핑', '도서', '뷰티', '야구', '놀이공원/공연', '통신']
eng = [transport, con, delivery, cafe, ott, movie, shopping, book, cosmetics, baseball, park, phone]
cnt = [transport_num, con_num, delivery_num, cafe_num, ott_num, movie_num, shopping_num, book_num, cosmetics_num, baseball_num, park_num, phone_num]

for i, j, k in list(zip(kor, eng, cnt)):
    df[f'{i}비'] = j
    df[f'{i}횟수'] = k
    df[f'{i}총비용'] = df[f'{i}비'] * df[f'{i}횟수']

In [7]:
df.head()

,이름,고유번호,관심사,나이,성별,혜택,교통비,교통횟수,교통총비용,편의점비,...,뷰티총비용,야구비,야구횟수,야구총비용,놀이공원/공연비,놀이공원/공연횟수,놀이공원/공연총비용,통신비,통신횟수,통신총비용
0,김예은,a10001,여행,16,남,놀이동산,500,11,5500,48800,...,124500,12100,1,12100,38500,0,0,61000,1,61000

In [8]:
df = df[['이름', '고유번호', '관심사', '나이', '혜택', '교통총비용',
                  '편의점총비용', '배달총비용', '카페총비용', 'ott총비용', 
                  '영화총비용', '쇼핑총비용', '도서총비용', '뷰티총비용',
                  '야구총비용', '놀이공원/공연총비용', '통신총비용']]

In [9]:
df['혜택'] = df['혜택'].astype('category')
df['관심사'] = df['관심사'].astype('category')

In [10]:
feature_names = df.columns.to_list()
feature_names.remove('이름')
feature_names.remove('고유번호')
feature_names

['관심사',
 '나이',
 '혜택',
 '교통총비용',
 '편의점총비용',
 '배달총비용',
 '카페총비용',
 'ott총비용',
 '영화총비용',
 '쇼핑총비용',
 '도서총비용',
 '뷰티총비용',
 '야구총비용',
 '놀이공원/공연총비용',
 '통신총비용']

In [11]:
df = df[feature_names] # 전체 데이터 1000개
df.shape

(1, 15)

In [12]:
import pickle
with open('best_model.pickle', 'rb') as f: 
    model = pickle.load(f)

In [13]:
y_pred = model.predict(df)
df['card'] = y_pred
df

,관심사,나이,혜택,교통총비용,편의점총비용,배달총비용,카페총비용,ott총비용,영화총비용,쇼핑총비용,도서총비용,뷰티총비용,야구총비용,놀이공원/공연총비용,통신총비용,card
0,여행,16,놀이동산,5500,1073600,119700,69600,12800,36400,199200,22800,124500,12100,0,61000,0

In [14]:
df_card = pd.read_csv('card.csv')

In [15]:
card_list = df_card[df_card['Cluster'] == y_pred[0]]

In [16]:
# user 각 행에서 가장 큰 값의 열 이름 찾기
max_cols = df.iloc[:,3:].apply(lambda x: x.nlargest(3).keys(), axis=1)

# 상위 3개의 열 이름 추출하고 리스트로 변환
top_3_cols = max_cols.apply(lambda x: x[:3].tolist())

cnt_list = []
for j in range(len(card_list)):
    cnt = 0
    for i in range(3):
        a = top_3_cols[0][i].split('총')[0]

        if card_list.iloc[j][a] == 1.0:
            cnt += 1
    cnt_list.append(cnt)

In [17]:
card_list['cnt'] = cnt_list
card_list

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_36972\531936930.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  card_list['cnt'] = cnt_list

,카드명,설명,혜택1,혜택2,혜택3,세부혜택,교통,뷰티,영화,카페,...,편의점,배달,야구,도서,놀이공원/공연,ott,통신,합계,Cluster,cnt
1,요기패스 신한카드 체크,끝이 없는 할인 구독 서비스,요기패스 최대 4천원 캐시백,요기요 서비스 건당 1천원 캐시백,OTT 정기 결제 건당 1천원 캐시백,"요기패스 구독비 캐시백 특화 서비스(요기요, 디지털 구독) 캐시백",0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2.0,0,0
14,땡겨요 신한카드 체크,너도 살고 나도 사는 우리동네 배달앱 땡겨요,땡겨요앱 이용금액 포인트 10% 적립,스타벅스 이용금액 포인트 2% 적립,없음,땡겨요 앱 적립 스타벅스 적립 편의점 적립 통합적립한도 공통 유의사항,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0,0
16,투썸플레이스 신한카드 체크,"20% 캐시백, 사이즈업 쿠폰에 OTT 캐시백 혜택까지!",투썸플레이스 결제 20% 캐시백,투썸플레이스 혜택 사이즈업 쿠폰 제공,OTT 혜택 최대 2천원 캐시백,투썸플레이스 서비스 생활 서비스 공통유의사항,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0,0
20,신한카드 국민행복 체크,정부에서 지원하는 국가바우처를 한장의 카드로 이용하세요!,인터넷서점 5% 할인,밀딜리버리 5% 할인,OTT 50% 할인,국가바우처 병원/약국 할인 온라인몰 할인 교육 할인 밀딜리버리 할인 OTT 할인 온...,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,3.0,0,0
42,다이소 신한카드 체크,"다이소 20%, 생활 10%, 영화 20% 캐시백",다이소 20% 캐시백,생활 10% 캐시백,영화 20% 캐시백,다이소 캐시백 편의점 캐시백 스타벅스 캐시백 영화 캐시백 통합캐시백한도,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,1
43,쿠팡 신한카드 체크,쿠팡 이용금액 3% 적립에 스타벅스 이용금액 캐시백까지!,쿠팡캐시 3% 적립,스타벅스 10% 캐시백,없음,쿠팡 적립 스타벅스 캐시백,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,1

In [18]:
df

,관심사,나이,혜택,교통총비용,편의점총비용,배달총비용,카페총비용,ott총비용,영화총비용,쇼핑총비용,도서총비용,뷰티총비용,야구총비용,놀이공원/공연총비용,통신총비용,card
0,여행,16,놀이동산,5500,1073600,119700,69600,12800,36400,199200,22800,124500,12100,0,61000,0

In [19]:
# 유사도 분석
import pandas as pd
from faker import Faker
import random
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# tfidf 벡터화
tfidf = TfidfVectorizer()
card_tfidf = tfidf.fit_transform(card_list[['혜택1', '혜택2', '혜택3', '세부혜택']].apply(lambda x: ' '.join(x), axis=1))

df_tfidf = tfidf.transform(df[['관심사', '혜택']].apply(lambda x: ' '.join(x), axis=1))

# 코사인 유사도 계산
cos_sim = cosine_similarity(card_tfidf, df_tfidf)

# 코사인 유사도 컬럼 생성
card_list['cos'] = 0.01 + np.round(cos_sim, 3)
card_list['total'] = (card_list['cnt'] + 0.01) * card_list['cos']

# total이 높은 순으로 정렬
card_list = card_list.sort_values(['total'], ascending=False)

# 추천 결과 출력
recommendations = card_list.iloc[:3, :]

card_names = recommendations['카드명'].tolist()
card_benefits1 = recommendations['혜택1'].tolist()
card_benefits2 = recommendations['혜택2'].tolist()
card_benefits3 = recommendations['혜택3'].tolist()

print("고객님의 추천 카드는 다음과 같습니다.")
for i in range(len(card_names)):
    print(f"{i+1}. {card_names[i]} : {card_benefits1[i]}, {card_benefits2[i]}, {card_benefits3[i]}")

고객님의 추천 카드는 다음과 같습니다.
1. 다이소 신한카드 체크 : 다이소 20% 캐시백, 생활 10% 캐시백, 영화 20% 캐시백
2. 쿠팡 신한카드 체크 : 쿠팡캐시 3% 적립, 스타벅스 10% 캐시백, 없음
3. 요기패스 신한카드 체크 : 요기패스 최대 4천원 캐시백, 요기요 서비스 건당 1천원 캐시백, OTT 정기 결제 건당 1천원 캐시백